body {
    font-family: Verdana, sans-serif;
    background-color: #dfe7fd;
    margin: 0;
    padding: 0;
}

/* MAIN WRAPPER */
.container {
    width: 430px;
    margin: 70px auto;
    background-color: #ffffff;
    border-left: 8px solid #5e60ce;
    padding: 20px 22px;
}

/* TITLE */
h1 {
    margin-bottom: 18px;
    color: #222;
    text-align: left;
    font-size: 22px;
}

/* INPUTS */
.input-section,
.actions {
    display: flex;
    gap: 6px;
    margin-bottom: 14px;
}

.actions {
    flex-wrap: wrap;
}

input {
    padding: 7px;
    border: none;
    border-bottom: 2px solid #aaa;
    font-size: 14px;
    outline: none;
    background: transparent;
}

input:focus {
    border-bottom-color: #5e60ce;
}

/* BUTTONS */
button {
    padding: 7px 10px;
    border: 1px solid #5e60ce;
    background-color: white;
    color: #5e60ce;
    font-size: 13px;
    cursor: pointer;
}

button:hover {
    background-color: #5e60ce;
    color: white;
}

/* LIST */
#todoList {
    margin-top: 12px;
}

.todo-item {
    padding: 6px 4px;
    border-bottom: 1px dashed #ccc;
    font-size: 14px;
    color: #333;
}
